.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav {
  background-color: black; 
  padding: 10px;
  color: white;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
}

.main-content {
  margin: 10px;
}

table {
  border: solid 1px black;
}

.hidden {
  display: none;
}


table td {
  padding: 3px;
} 

a {
  padding-right: 5px;
}

input[type='text'], select {
  width: 300px;
}

textarea {
  width: 300px;
  height: 100px;
}

.table .left-column {
  display: inline-block;
  min-width: 120px;
  padding: 2px;
}

.table .right-column {
  display: inline-block;
  padding: 2px;
}

.history-item {
  margin-top: 10px;
}

.add-history-item{
  margin-top: 10px;
  margin-bottom: 10px;
}

.prediction-tickets {
  position: absolute;
  right: 10px;
  top: 50px;
}

.prediction-helps {
  position: absolute;
  right: 10px;
  top: 80px;
}

.prediction-group {
  position: absolute;
  right: 10px;
  top: 110px;
}